/*GLOABLES*/

html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
*{
    font-family: 'Inter', sans-serif;
}

:root{
    --fuente700: 700;
    --fuente800: 800; 
}


/*NAV*/

.nav a{
    text-decoration: none;
}

/*NAV Movil*/
.nav__cel{
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-between;
    text-align: center;
    align-items: center;
    padding: 1.8rem;
    background-color: #e9e9e9;
    height: 55px;
}
.nav__cel_elementos{
    background-color: #871414;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 2rem;
    gap: 2rem;
    align-items: end;
    text-decoration: none;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
}
.nav__cel_elementos a{
    color: #d1d1d1;
    font-size: 25px;
    font-weight: var(--fuente700);

}

.boton__menu, .cerrar-menu{
    cursor: pointer;
    display: block;
    border: 0;
    background-color: transparent;
    color: #871414;
}
.cerrar-menu{
    color: #ffe500;
    font-size: 2rem;
}
.boton__menu{
    font-size: 3rem;

}

.nav__cel_elementos.visible{
    opacity: 1;
    visibility: visible;
}
.nav__contenedor_elementos{
    display: none;
}

.nav__container{
    display: none;
} 


/*NAV mq*/

@media (min-width: 1168px) {
    .nav{
        max-width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .nav__container {
        background-color: #ffffff;
        display: flex;
        gap: 4rem;
        align-items: center;
    }
    .nav__container a{
    font-weight: var(--fuente700);
    font-size: 50px;
    color: #871414;
    margin: 1rem;

}
    .nav__cel{
        display: none;
    }
    .nav__contenedor_elementos{
        display: block;
    }
}
.nav__container{
    padding: 2rem;
}


/*FLOAT*/
.float-element {
  text-align: center;
  font-size: 16px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.float-element:hover {
  transform: translateX(0px) translateY(-10px) scale(1.1);
}


/*MAIN*/

/*BACKGROUND*/


main h2{
    font-weight: var(--fuente800);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 2rem;
    background-color: #d1d1d1;
    color: #ffe500;
    font-size: 46px;
    height: 211px;
    display: flex;


}

/*CARD*/

.bg{
    height: 666;
    width: 430;
    background-image: url(/src/bg__blur.jpeg);
    padding: .8rem;
    background-size: cover;
    background-position: center;
}

.bg1{
    height: 666;
    width: 430;
    background-image: url(/src/R-modified.jpeg);
    padding: .8rem;
    background-size: cover;
    background-position: center;
}
.bg2{
    height: 666;
    width: 430;
    background-image: url(/src/OIP-modified.jpeg);
    padding: .8rem;
    background-size: cover;
    background-position: center;
}
.bg3{
    height: 666;
    width: 430;
    background-image: url(/src/suzuka-cover-modified.jpeg);
    padding: .8rem;
    background-size: cover;
    background-position: center;
}



.main__card{
    text-align: center;
    border: 4px solid black;
    padding: 1rem;
    border-radius: 15px;
    background-color: rgba(254, 251, 251, 40%); 
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .main__container_content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-image: url(/src/bg__blur.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .bg{
        display: flex;
        flex-direction: row;
        background-image: none;
    }
    .bg1{
        background-image: none;
    }
    .bg2{
        background-image: none;
    }
    .bg3{
        background-image: none;
    }
    .main__container_2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-image: url(/src/OIP-modified.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}
.card__img{
    max-width: 100%;
}

.main__card_horarios-grid{
    display: grid;
    max-width: 100%;
    max-height: 100%;
    border-radius: 40px;
    background-color: #871414;
    grid-template-columns: repeat(2, 1fr);
}
.main__card__flex5{
    grid-column: 1 / 3;
}


.circuito-font{
    font-weight: var(--fuente800);
    font-size: 24px;
}

.horario-font{
    font-weight: var(--fuente800);
    font-size: 24px;

}
.evento--font{
    font-size: 16px;
    font-weight: var(--fuente700);
}
.horario--color{
    color: #ffffff;
    font-weight: var(--fuente700);
}

@media (min-width: 1000px) {
    .main__card{
    max-width: 80%;
    margin-left: 4rem;
    border: 4px solid black;
    padding: 1rem;
    border-radius: 15px;
    background-color: rgba(254, 251, 251, 40%); 
    margin-bottom: 2rem;
}
}
